/* .titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
} */


*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    padding: 4px;
}
body{
    background-color: #20232a;
    color: aliceblue;
    overflow-x: hidden;
}
/* NAV SECTION */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.nav-left img{
  width: 35px;
  height: 35px;
}
.nav-right a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 10px;
}
.nav-right a:hover{
    color: #FF4D6D;
}
.nav-right button{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(22, 21, 21);
    color: #FF4D6D;
    /* box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.25); */
    font-weight: 600;
}
.nav-right button:hover{
    cursor: pointer;
    background-color: black;
}
.menu{
  display: none;
}
.small-menu{
  display: none;
  /* display: flex; */
  justify-content: space-between;
  align-items: start;
  position: fixed;
  background: #20232a;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
  padding: 20px ;
  height: 100vh;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.small-menu-links a{
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}
.close-icon img{
  width: 30px;
  height: 30px;
}

/* HERO SECTION */

/* SECTION 1 */
.hero-section-1{
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 70px 50px;
}
.hero-1 h1{
    font-size: 40px;
}
.hero-1 span{
    color: #FF4D6D;
}
.hero-2{
    margin-top: 80px;
    display: flex;
    gap: 60px;
}
.hero-2 a{
  text-decoration: none;
}
.hero-2 article img{
    width: 45px;
    height: 45px;
    background-color: rgb(22, 21, 21);
    border-radius: 8px;
    margin-right: 8px;
    box-shadow: -5px -5px 4px rgba(95, 93, 93, 0.15);
}
.hero-2 article img:hover{
  background-color: #FF4D6D;
}
.hero-3 img{
    width: 300px;
    height: 340px;
    border-radius: 15px;
    filter: brightness(40%);
}
/* SECTION 2 */
.hero-section-2{
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.15);
}
.hero-4{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.hero-section-2 h5{
   margin-top: 50px;
    color: #FF4D6D;
    text-align: center;
}
.hero-section-2 h1{
  text-align: center;
}
.hero-4 img{
    width: 30px;
    height: 30px;
}
.hero-4 article{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.hero-4 div{
    background-color: rgb(27, 28, 30);
    border: none;
    width: 260px;
    height: 210px;
    border-radius: 5px;
    padding: 15px 8px 5px 15px; 
    box-shadow:2px 2px 4px rgba(114, 110, 110, 0.2) ;
    margin-bottom: 30px;
}
.hero-4 p{
    font-size: 12px;
}

/* SECTION 3*/

.hero-section-3 h6{
  color: #FF4D6D;
  margin-top: 80px;
  text-align: center;
}
.hero-section-3 h1{
  text-align: center;
}
.hero-5{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.hero-5 h6{
  color: #FF4D6D;
  margin-top: 10px;
  text-align: start !important;
}
.hero-5 div{
  /* position: relative; */
  display: inline-block;
    background-color: rgb(27, 28, 30);
    border: none;
    width: 290px;
    height: 344px;
    border-radius: 10px;
    /* padding: 15px 8px 5px 15px;  */
    box-shadow:0 6px 5px rgba(0, 0, 0, 0.3) ;
}
.hero-5 div:hover{
  transition: all 0.2s;
  border: 2px solid #FF4D6D;
}
.hero-5 article{
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* overflow: hidden; */
}
.hero-5 img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transform: translate(0, -24px);
}
.scroll-container{
  overflow-y: auto !important;
  width: 100%;
  height: 230px;
}
.hero-5 img:hover{
  transform: translateY(-50%);
  transition: transform 3s ease-in-out;
}
.scroll-img{
  height: 230px !important;
}
.scroll-container::-webkit-scrollbar{
  display: none;
}


/* RESPONSIVENESS */
@media (min-width: 601px) and (max-width: 980px){
.nav-right{
  display: none;
}
.menu{
  display: block;
}
.small-menu{
  display: block;
}
.hero-section-1{
  display: flex;
  flex-direction: column ;
  padding: 0;
}
.hero-2{
  display: flex;
  margin-top: 25px;
}
.hero-2 article div{
  display: flex;
  flex-direction: row;
}
.hero-4{
  display: flex;
  flex-direction: row;
}
.hero-4 article{
  display: flex;
  flex-direction: column;
}
.hero-5{
  display: flex;
  flex-direction: row;
}
.hero-5 article{
  display: flex;
  flex-direction: column;
}  
}


@media screen  and (max-width:600px) {
  
.nav-right{
  display: none;
}
.menu{
  display: flex;
}
.small-menu{
  display: flex;
}
.hero-section-1{
  display: flex;
  flex-direction: column ;
  padding: 0;
}
.hero-2{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.hero-2 article div{
  display: flex;
  flex-direction: row;
}
.hero-3 img{
  width: 280px;
}
.hero-4{
  display: flex;
  flex-direction: column;
}
.hero-4 article{
  display: flex;
  flex-direction: column;
}
.hero-5{
  display: flex;
  flex-direction: column;
}
.hero-5 article{
  display: flex;
  flex-direction: column;
}
}
